VITE_AUTH_MODE=mock
VITE_API_BASE_URL=https://your-backend-url.com
VITE_ASGARDEO_CLIENT_ID=SK8TRBJMwJiYrKfuyn_c66BKGssa
VITE_ASGARDEO_BASE_URL=https://api.asgardeo.io/t/geoedge
VITE_ASGARDEO_REDIRECT_URI=https://your-vercel-domain.vercel.app
VITE_ASGARDEO_LOGOUT_REDIRECT_URI=https://your-vercel-domain.vercel.app
VITE_ASGARDEO_SCOPES=openid profile email groups
VITE_ASGARDEO_SIGN_UP_URL=https://api.asgardeo.io/t/geoedge/accountrecoveryendpoint/register.do
