VITE_AUTH_MODE=asgardeo
VITE_API_BASE_URL=https://your-backend-api-url.com
VITE_ASGARDEO_BASE_URL=https://api.asgardeo.io/t/geoedge
VITE_ASGARDEO_AUTH_URL=https://accounts.asgardeo.io/t/geoedge
VITE_ASGARDEO_CLIENT_ID=your_asgardeo_client_id
VITE_ASGARDEO_REDIRECT_URI=https://your-vercel-domain.vercel.app/callback
VITE_ASGARDEO_LOGOUT_REDIRECT_URI=https://your-vercel-domain.vercel.app
VITE_ASGARDEO_SCOPES=openid profile email groups
VITE_ASGARDEO_SIGN_UP_URL=https://api.asgardeo.io/t/geoedge/accountrecoveryendpoint/register.do
VITE_CHOREO_USER_SERVICE_URL=https://your-choreo-user-service-invoke-url
